body {
    margin: 0rem;
    padding: 0rem;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    padding: 1rem;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    cursor: pointer;
}

form {
    margin-block-end: 0rem;
}

input {
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

select {
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    padding: 1rem;
    width: 100%;
    height: 10rem;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    resize: vertical;
}

.g_panelTab {
    transition-duration: 0.1s;

    &:hover {
        box-shadow: 0rem -0.5rem 0rem 0rem #fff inset;
    }
}

.category {
    & > .name {
        transition-duration: 0.1s;
    }

    &:hover {
        & > .name {
            background-color: #a00 !important;
        }
    }
}